In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Flipkart_Mobiles.csv')

In [3]:
df.head()

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990,15990
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990,15990
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990,17990
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990,17990
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990,15990

In [4]:
df.tail()

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
3109,SAMSUNG,M52 5G,Blazing Black,6 GB,128 GB,4.3,25990,25990
3110,SAMSUNG,M52 5G,Icy Blue,6 GB,128 GB,4.3,25489,28449
3111,SAMSUNG,M52 5G,Icy Blue,8 GB,128 GB,4.3,27239,31489
3112,SAMSUNG,M52 5G,Slate Black,8 GB,128 GB,4.2,22989,22989
3113,SAMSUNG,M52 5G,Sky Blue,8 GB,128 GB,4.2,20350,22595

In [5]:
df.isna()

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
3109,False,False,False,False,False,False,False,False
3110,False,False,False,False,False,False,False,False
3111,False,False,False,False,False,False,False,False
3112,False,False,False,False,False,False,False,False
3113,False,False,False,False,False,False,False,False

In [6]:
df.isna().sum()

Brand               0
Model               0
Color               0
Memory             43
Storage            39
Rating            144
Selling Price       0
Original Price      0
dtype: int64

IMPUTATION:- Here colums memory storage and rating contain missing values here we have done imputation with the strategy of mode (replacing missing values with mode)

In [7]:
from sklearn.impute import SimpleImputer
columns_with_missing_values=df.columns[df.isnull().any()].tolist()
imputer=SimpleImputer(strategy='most_frequent')
df[columns_with_missing_values]=imputer.fit_transform(df[columns_with_missing_values])

In [8]:
df.isna().sum()

Brand             0
Model             0
Color             0
Memory            0
Storage           0
Rating            0
Selling Price     0
Original Price    0
dtype: int64

Encoding;-Encoding is the process of converting categorical data into numerical representations that can be used by machine learning algorithms. Types of encoding:-

One hot encoding

In [9]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(sparse=False)
encoded_data_ohe=ohe.fit_transform(df['Brand'].values.reshape(-1,1))
encoded_df_ohe=pd.DataFrame(encoded_data_ohe,columns=ohe.get_feature_names_out())
encoded_df_ohe

,x0_ASUS,x0_Apple,x0_GIONEE,x0_Google Pixel,x0_HTC,x0_IQOO,x0_Infinix,x0_LG,x0_Lenovo,x0_Motorola,x0_Nokia,x0_OPPO,x0_POCO,x0_SAMSUNG,x0_Xiaomi,x0_realme,x0_vivo
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [10]:
ohe = OneHotEncoder(sparse=False)  
encoded_data_ohe = ohe.fit_transform(df['Model'].values.reshape(-1, 1))
encoded_df_ohe = pd.DataFrame(encoded_data_ohe, columns=ohe.get_feature_names_out())

In [11]:
encoded_df_ohe

,x0_1,x0_10,x0_105,x0_105 DS,x0_105 DS 2020,x0_105 SS 2021,x0_106,x0_107 Dual SIM,x0_108 Dual SIM,x0_11 Lite NE,...,x0_iPhone 6s Plus,x0_iPhone 7,x0_iPhone 7 Plus,x0_iPhone 8,x0_iPhone 8 Plus,x0_iPhone SE,x0_iPhone X,x0_iPhone XR,x0_iPhone XS,x0_iPhone XS Max
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
ohe = OneHotEncoder(sparse=False) 
encoded_data_ohe = ohe.fit_transform(df['Color'].values.reshape(-1, 1))
encoded_df_ohe = pd.DataFrame(encoded_data_ohe, columns=ohe.get_feature_names_out())

In [13]:
encoded_df_ohe

,x0_ Tornado Black,x0_AURORA SILVER,x0_Absolute black,x0_Aegean Blue,x0_Aether Black,x0_Agate Red,x0_Alpha Grey,x0_Alpine Green,x0_Alpine White,x0_Amazing Silver,...,x0_White & Copper,x0_White Birch,x0_White Frost,x0_White Knight,x0_White Pearl,x0_Wine Red,x0_Yellow,x0_black sapphire,x0_dark gold,x0_midnight blue
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
encoded_data_le=le.fit_transform(df['Brand'])
df['Brand_label_encoded']=encoded_data_le
df

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price,Brand_label_encoded
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990,15990,11
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990,15990,11
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990,17990,11
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990,17990,11
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990,15990,11
...,...,...,...,...,...,...,...,...,...
3109,SAMSUNG,M52 5G,Blazing Black,6 GB,128 GB,4.3,25990,25990,13
3110,SAMSUNG,M52 5G,Icy Blue,6 GB,128 GB,4.3,25489,28449,13
3111,SAMSUNG,M52 5G,Icy Blue,8 GB,128 GB,4.3,27239,31489,13
3112,SAMSUNG,M52 5G,Slate Black,8 GB,128 GB,4.2,22989,22989,13
3113,SAMSUNG,M52 5G,Sky Blue,8 GB,128 GB,4.2,20350,22595,13

In [15]:
le = LabelEncoder()
encoded_data_le = le.fit_transform(df['Model'])
df['Model_label_encoded'] = encoded_data_le
df

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price,Brand_label_encoded,Model_label_encoded
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990,15990,11,128
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990,15990,11,128
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990,17990,11,128
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990,17990,11,128
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990,15990,11,128
...,...,...,...,...,...,...,...,...,...,...
3109,SAMSUNG,M52 5G,Blazing Black,6 GB,128 GB,4.3,25990,25990,13,528
3110,SAMSUNG,M52 5G,Icy Blue,6 GB,128 GB,4.3,25489,28449,13,528
3111,SAMSUNG,M52 5G,Icy Blue,8 GB,128 GB,4.3,27239,31489,13,528
3112,SAMSUNG,M52 5G,Slate Black,8 GB,128 GB,4.2,22989,22989,13,528
3113,SAMSUNG,M52 5G,Sky Blue,8 GB,128 GB,4.2,20350,22595,13,528

In [16]:
le = LabelEncoder()
encoded_data_le = le.fit_transform(df['Color'])
df['Color_label_encoded'] = encoded_data_le
df

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price,Brand_label_encoded,Model_label_encoded,Color_label_encoded
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990,15990,11,128,366
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990,15990,11,128,354
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990,17990,11,128,366
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990,17990,11,128,354
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990,15990,11,128,191
...,...,...,...,...,...,...,...,...,...,...,...
3109,SAMSUNG,M52 5G,Blazing Black,6 GB,128 GB,4.3,25990,25990,13,528,63
3110,SAMSUNG,M52 5G,Icy Blue,6 GB,128 GB,4.3,25489,28449,13,528,274
3111,SAMSUNG,M52 5G,Icy Blue,8 GB,128 GB,4.3,27239,31489,13,528,274
3112,SAMSUNG,M52 5G,Slate Black,8 GB,128 GB,4.2,22989,22989,13,528,527
3113,SAMSUNG,M52 5G,Sky Blue,8 GB,128 GB,4.2,20350,22595,13,528,523

In [17]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler
min_max_scaler=MinMaxScaler()
scaled_data_min_max=min_max_scaler.fit_transform(df[['Selling Price','Original Price']])

In [18]:
standard_scaler=StandardScaler()

In [19]:
scaled_data_standard=standard_scaler.fit_transform(df[['Selling Price','Original Price']])

In [20]:
scaled_df_min_max=pd.DataFrame(scaled_data_min_max,columns=['Scaled Selling Price (Min-Max)','Scaled Original Price (Min-Max)'])

In [21]:
scaled_df_standard = pd.DataFrame(scaled_data_standard, columns=['Scaled Selling Price (Standard)', 'Scaled Original Price (Standard)'])

In [22]:
df=pd.concat([df,scaled_df_min_max,scaled_df_standard],axis=1)
df

,Brand,Model,Color,Memory,Storage,Rating,Selling Price,Original Price,Brand_label_encoded,Model_label_encoded,Color_label_encoded,Scaled Selling Price (Min-Max),Scaled Original Price (Min-Max),Scaled Selling Price (Standard),Scaled Original Price (Standard)
0,OPPO,A53,Moonlight Black,4 GB,64 GB,4.5,11990,15990,11,128,366,0.061431,0.079313,-0.480560,-0.391601
1,OPPO,A53,Mint Cream,4 GB,64 GB,4.5,11990,15990,11,128,354,0.061431,0.079313,-0.480560,-0.391601
2,OPPO,A53,Moonlight Black,6 GB,128 GB,4.3,13990,17990,11,128,366,0.072610,0.089895,-0.414031,-0.328150
3,OPPO,A53,Mint Cream,6 GB,128 GB,4.3,13990,17990,11,128,354,0.072610,0.089895,-0.414031,-0.328150
4,OPPO,A53,Electric Black,4 GB,64 GB,4.5,11990,15990,11,128,191,0.061431,0.079313,-0.480560,-0.391601
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3109,SAMSUNG,M52 5G,Blazing Black,6 GB,128 GB,4.3,25990,25990,13,528,63,0.139687,0.132223,-0.014857,-0.074347
3110,SAMSUNG,M52 5G,Icy Blue,6 GB,128 GB,4.3,25489,28449,13,528,274,0.136887,0.145234,-0.031522,0.003665
3111,SAMSUNG,M52 5G,Icy Blue,8 GB,128 GB,4.3,27239,31489,13,528,274,0.146669,0.161318,0.026691,0.100110
3112,SAMSUNG,M52 5G,Slate Black,8 GB,128 GB,4.2,22989,22989,13,528,527,0.122912,0.116345,-0.114684,-0.169555
3113,SAMSUNG,M52 5G,Sky Blue,8 GB,128 GB,4.2,20350,22595,13,528,523,0.108161,0.114260,-0.202469,-0.182055

In [23]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [24]:

df = df.dropna() 
categorical_columns=df.select_dtypes(include=['object']).columns
categorical_transformer=OneHotEncoder(handle_unknown='ignore')
numerical_transformer=StandardScaler()

In [25]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, df.select_dtypes(include=['int64', 'float64']).columns),
        ('cat', categorical_transformer, categorical_columns)
    ])

In [26]:
X = df.drop('Brand_label_encoded', axis=1) 
y = df['Selling Price'].values.ravel()

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [28]:
pipeline = Pipeline([
    ('preprocessor', preprocessor), # Preprocess the data
    ('classifier', RandomForestClassifier(n_estimators=100, random_state=42)) # Use a Random Forest classifier
])

In [29]:
pipeline.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  Index(['Selling Price', 'Original Price', 'Scaled Selling Price (Min-Max)',
       'Scaled Original Price (Min-Max)', 'Scaled Selling Price (Standard)',
       'Scaled Original Price (Standard)'],
      dtype='object')),
                                                 ('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  Index(['Brand', 'Model', 'Color', 'Memory', 'Storage', 'Rating'], dtype='object'))])),
                ('classifier', RandomForestClassifier(random_state=42))])

In [30]:
y_pred = pipeline.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.6693418940609952

# MODEL TRAINING

LINEAR REGRESSSION

In [31]:
features=df[['Brand_label_encoded','Model_label_encoded']]

In [32]:
target=df['Selling Price']

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X_train,X_test,y_train,y_test=train_test_split(features,target,test_size=0.2,random_state=42)

In [35]:
from sklearn.linear_model import LinearRegression

In [36]:
model=LinearRegression()

In [37]:
model.fit(X_train,y_train)

LinearRegression()

In [38]:
pred=model.predict(X_test)

In [39]:
from sklearn.metrics import mean_squared_error

In [40]:
mse=mean_squared_error(y_test,pred)

In [41]:
print(f"Mean Squared Error:{mse}")

Mean Squared Error:641462037.622299

LOGISTIC REGRESSION

In [42]:
features = df[['Brand_label_encoded', 'Model_label_encoded']]
target = df['Selling Price'] 

features = pd.get_dummies(features)

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [43]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

model.fit(X_train, y_train)

C:\Users\jagri\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [44]:

predictions = model.predict(X_test)

from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, predictions)
print(f"Accuracy: {accuracy}")

Accuracy: 0.025682182985553772

In [45]:
features = df[['Brand_label_encoded', 'Model_label_encoded']]
target = df['Selling Price'] 

features = pd.get_dummies(features)

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

RANDOM FOREST CLASSIFIER

In [46]:
from sklearn.ensemble import RandomForestClassifier


model = RandomForestClassifier(n_estimators=100, random_state=42)

model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [47]:

predictions = model.predict(X_test)


from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, predictions)
print(f"Accuracy: {accuracy}")

Accuracy: 0.27447833065810595

SVM

In [55]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

target_variable = 'Selling Price'
features = ['Original Price']  

X_train, X_test, y_train, y_test = train_test_split(df[features], df[target_variable], test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

model = SVR(kernel='rbf', C=100)  
# Train the model
model.fit(X_train_scaled, y_train)

y_pred = model.predict(X_test_scaled)

mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse:.2f}")

Mean Squared Error: 326001615.13

In [56]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

target_variable = 'Selling Price'  

features = ['Original Price'] 

X_train, X_test, y_train, y_test = train_test_split(df[features], df[target_variable], test_size=0.2, random_state=42)

model = KNeighborsRegressor(n_neighbors=5) 

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse:.2f}")

Mean Squared Error: 26204347.67

In [58]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error


target_variable = 'Selling Price'  

features = ['Original Price'] 

X_train, X_test, y_train, y_test = train_test_split(df[features], df[target_variable], test_size=0.2, random_state=42)


model = DecisionTreeRegressor(max_depth=5, random_state=42)  # You can adjust max_depth


model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse:.2f}")

Mean Squared Error: 28011427.65